LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<YOUR_LANGSMITH_API_KEY>
LANGSMITH_PROJECT=<YOUR_LANGSMITH_PROJECT>
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
GOOGLE_API_KEY=<YOUR_GOOGLE_API_KEY>